[package]
name = "backend"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = "0.8.4"
lambda_http = "0.17.0"
preinterpret = "0.2.0"
serde_json = "1.0.145"
tokio = { version = "1.47.1", features = ["rt", "macros"] }
tower-http = { version = "0.6.6", features = ["normalize-path", "trace"] }

[package.metadata.lambda.build]
bin = ["api"]
output_format = "zip"

[package.metadata.lambda.deploy]
binary_name = "api"
name = "jb_api"
s3_bucket = "jb-lambda-code-archives"
s3_key = "api_cargo_lambda"

[profile.dev]
opt-level = "z"
strip = true
